{% extends "base.html" %}
{% block content %}
<h1>List of Vulnerabilities</h1>
<table>
    <tr>
        <th>CVE ID</th>
        <th>Description</th>
        <th>Source</th>
        <th>Status</th>
    </tr>
    {% for vulnerability in vulnerabilities.items %}
    <tr>
        <td>{{ vulnerability.cve_id }}</td>
        <td>{{ vulnerability.description }}</td>
        <td>{{ vulnerability.source }}</td>
        <td>{{ vulnerability.status }}</td>
    </tr>
    {% endfor %}
</table>
<div>
    {% if vulnerabilities.has_prev %}
        <a href="{{ url_for('main.index', page=vulnerabilities.prev_num) }}">Previous</a>
    {% endif %}
    {% if vulnerabilities.has_next %}
        <a href="{{ url_for('main.index', page=vulnerabilities.next_num) }}">Next</a>
    {% endif %}
</div>
{% endblock %}